# Simple ETL Job
[Medium]()

In [ ]:
# Install dependencies
!pip install pandas

## Extract data

In [4]:
import pandas as pd

# Load data from CSV file
df = pd.read_csv('customer_orders.csv')

## Transform data

In [7]:
# Transform data
# Next, we can transform the data by adding a new column that calculates the tax on each order. We can define a function to calculate the tax, and then apply it to each row in the DataFrame.

# Define function to calculate tax
def calculate_tax(amount):
    tax_rate = 0.1  # 10% tax rate
    tax = amount * tax_rate
    return tax

# Apply function to each row
df['tax'] = df['order_amount'].apply(calculate_tax)

In [9]:
df

  customer_name  order_date  order_amount payment_method   tax
0    John Smith  2022-03-01         100.0    Credit Card  10.0
1      Jane Doe  2022-03-02         150.0         PayPal  15.0
2   Bob Johnson  2022-03-02          75.0     Debit Card   7.5
3      Mary Lee  2022-03-03         200.0          Check  20.0

## Load data

In [10]:
df.to_csv('customer_orders_with_tax.csv', index=False)